@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-06-11 16:36:11
 * @version $Id$
 */

.am-article-hd {
	background-color: #000;	
}
.am-article-title {
	font-size: 1.5rem !important;
	line-height: 3rem;
	height: 3rem;
	overflow: visible;
	color: #CCC;
	margin-bottom: 0;
	text-align: center;
}
.am-article-meta {
	margin-bottom: 1rem;
}
.courseprice {
	line-height: 2.8rem;
	height: 2.8rem;
}
.courseprice_item {
	height: 2.8rem;
	line-height: 2.8rem;
	vertical-align:bottom!important;
}
.coursebtn_single .course_btn {
	margin: 1rem auto !important;
}
.countdown_text {
	width: 80%;
	margin: 0 auto;
	display: block;
	border-radius: 2rem;
	line-height: 2.6rem;
	background-color: #eee;
}
.course_divider {
	margin: 0 0 1.6rem;
}
.courseview_teacher {
	font-size: 1.8rem !important;
	font-weight: 500;
	margin-bottom: 1rem;
}