@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-06-11 16:36:11
 * @version $Id$
 */

.am-article-hd {
	background-color: #000;	
}
.am-article-title {
	font-size: 1.5rem !important;
	line-height: 3rem;
	height: 3rem;
	overflow: visible;
	color: #CCC;
	margin-bottom: 0;
	text-align: center;
}
.am-article-meta {
	margin-bottom: 1rem;
}
.courseprice {
	line-height: 2.8rem;
	height: 2.8rem;
}
.courseprice_item {
	height: 2.8rem;
	line-height: 2.8rem;
	vertical-align:bottom!important;
}
.coursebtn_single .course_btn {
	margin: 1rem auto !important;
}
.countdown_text {
	width: 80%;
	margin: 0 auto;
	display: block;
	border-radius: 2rem;
	line-height: 2.6rem;
	background-color: #eee;
}
.course_divider {
	margin: 0 0 1.6rem;
}
.courseview_teacher {
	font-size: 1.6rem !important;
	font-weight: 500;
	margin-bottom: 0.8rem;
}

.follow_wechat .am-btn {
	display: inline-block;
	margin: 0 auto;
}

.share_box .am-modal {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left:0;
	margin-left: 0;
	background: url('../img/share_bg.png') no-repeat right top;
	background-size: 100%;
}
.share_box .am-modal-dialog {
	width: 300px;
	height: 150px;
	background: none
}
.share_box .am-modal-bd {
	width: 220px;
	height: 150px;
	margin-left: 105px;
	margin-top: 57px;
	font-weight: 700;
}
.share_box .am-dimmer {
	display: block;
}
